[submodule "imgui-frontend/external/glfw"]
	path = imgui-frontend/external/glfw
	url = git@github.com:glfw/glfw.git
	branch = master
[submodule "imgui-frontend/external/curl"]
	path = imgui-frontend/external/curl
	url = git@github.com:curl/curl.git
	branch = master
[submodule "imgui-frontend/external/glew-cmake"]
	path = imgui-frontend/external/glew-cmake
	url = git@github.com:Perlmint/glew-cmake.git
	branch = master
[submodule "imgui-frontend/external/whisper.cpp"]
	path = imgui-frontend/external/whisper.cpp
	url = git@github.com:ggerganov/whisper.cpp.git
	branch = master
[submodule "imgui-frontend/external/--force"]
	path = imgui-frontend/external/--force
	url = git@github.com:libsdl-org/SDL.git
